ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-grid {
    width: 80%;
  }
  
  ion-row {
    width: 100%;
  }
  
  ion-col {
    height: 50px;
  }
  
  ion-button {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa; /* Agregamos un borde para separar las celdas */
  }
  
  .white {
    background-color: #eee;
  }
  
  .black {
    background-color: #222;
  }
  
  .piece-pawn {
    // Estilos para el peón
    font-size: 1.5em; /* Tamaño de fuente para las piezas */
  }
  
  .piece-rook {
    // Estilos para la torre
    font-size: 1.5em;
    color: #ff0000; /* Color de las torres */
  }
  
  .piece-knight {
    // Estilos para el caballo
    font-size: 1.5em;
    color: #00ff00; /* Color de los caballos */
  }
  
  .piece-bishop {
    // Estilos para el alfil
    font-size: 1.5em;
    color: #0000ff; /* Color de los alfiles */
  }
  
  .piece-queen {
    // Estilos para la reina
    font-size: 1.5em;
    color: #ff00ff; /* Color de las reinas */
  }
  
  .piece-king {
    // Estilos para el rey
    font-size: 1.5em;
    color: #ffff00; /* Color de los reyes */
  }
  